@use "variables" as v;



main {

    //titulo seccion

    .artistas {
        display: flex;
        flex-direction: column;
        padding: 30px 60px 60px 60px;
        gap: 10px;
        background-color: #ececec;

        .artiatas__item {
            background-color: #Cc5500;
            border-radius: 8px;
            overflow: hidden;
            display: flex;

            .artista-info {
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 5px;
                justify-content: center;

            }

            .artista__videito {
                width: 400px;
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    main {

       


        .artistas {

            flex-direction: column;

            padding: 5px 30px 60px 30px;

            .artiatas__item {

                flex-direction: column;


                // .artista__videito {
                //     width: 365px;
                //     height: 300px;
                // }
            }


        }
    }


}