@use "variables" as v;

main {
    .artistas {

        @include v.flx-bx(column, 30px 60px 60px 60px, 10px, center);
        background-color: v.$background-color-pri;

        .maxime {
            @extend %artist-card;
            background-color: v.$background-color-set;
        }

        .victor {
            @extend %artist-card;
            background-color: v.$background-color-ter;
        }

        .yuli {
            @extend %artist-card;
            background-color: v.$background-color-sep;
        }

        .redmeans {
            @extend %artist-card;
            background-color: v.$background-color-qui;
        }

        .xliks {
            @extend %artist-card;
            background-color: v.$background-color-cua;
        }
    }

    @include v.celu {

        .artistas {
            padding: 5px 30px 60px 30px;

            .artiatas__item {
                flex-direction: column;
            }
        }

    }

    @include v.tab {

        .artistas {
            .artiatas__item {
                flex-direction: column;
            }

            .xliks {
                display: flex;
                align-items: center;
            }
        }
    }
}