@use "variables" as v;

main {

    background-color: v.$background-color-pri;

    .contacto-contenedor {
        width: 100%;
        height: 450px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        place-items: center;
        border-radius: 10px;
        overflow: hidden;

        .contacto-info {
            width: 100;
            height: 400px;
            display: grid;
            border: 2px solid #f5f5f5;
            border-radius: 10px;
            padding: 10px;
            place-items: center;
            justify-items: end;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "nom nom"
                "mai mai"
                "cel cel"
                "tex tex"
                "btna btnb";


            .nom {
                grid-area: nom;
            }

            .mai {
                grid-area: mai;
            }

            .cel {
                grid-area: cel;
            }

            .tex {
                grid-area: tex;
            }
        }

        .contacto-opinion {
            width: 100;
            height: 400px;
            display: grid;
            border: 2px solid whitesmoke;
            border-radius: 10px;
            padding: 10px;
            place-items: center;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "contacto__opinion__texto"
                "contacto__opinion"
                "btnop";

            .contacto__opinion__texto {
                grid-area: contacto__opinion__texto;
            }

            .contacto__opinion {
                grid-area: contacto__opinion;


            }

            .btnop {
                grid-area: btnop;
            }

            .btnop__flex {
                display: flex;
                gap: 10px;

                .botoncito {
                    background-color: #f3c165;
                    color: blue;
                }
            }
        }
    }

    .mensaje-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mensaje_1 {
            color: #8B4500;
        }

        .mensaje_2 {
            color: #Cc5500;
        }

        .mensaje_3 {
            color: #FFA500;
        }
    }

    @media screen and (max-width: 480px) {

        .contacto-contenedor {

            height: auto;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "info"
                "opinion";

            .contacto-info {
                grid-area: info;
                justify-items: end;
                justify-content: end;
            }

            .contacto-opinion {
                grid-area: opinion;

            }
        }

        .mensaje_1 {
            font-size: 1.2rem;
        }

        .mensaje_2 {
            font-size: 1.2rem;
        }


        .mensaje_3 {
            font-size: 1rem;
            margin-left: 8px;
        }
    }
}