@use "variables" as v;

main {

    background-color: v.$background-color-pri;

    .contacto-contenedor {
        width: 100%;
        height: 450px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        place-items: center;
        border-radius: 10px;
        overflow: hidden;

        .contacto-info {
            width: 100;
            height: 400px;
            display: grid;
            border: 2px solid v.$borde-color-pri;
            border-radius: 10px;
            padding: 10px;
            place-items: center;
            justify-items: end;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "nom nom"
                "mai mai"
                "cel cel"
                "tex tex"
                "btna btnb";

            .nom {
                grid-area: nom;
            }

            .mai {
                grid-area: mai;
            }

            .cel {
                grid-area: cel;
            }

            .tex {
                grid-area: tex;
            }
        }

        .contacto-opinion {
            width: 100;
            height: 400px;
            display: grid;
            border: 2px solid v.$borde-color-pri;
            border-radius: 10px;
            padding: 10px;
            place-items: center;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "contacto__opinion__texto"
                "contacto__opinion"
                "btnop";

            .contacto__opinion__texto {
                grid-area: contacto__opinion__texto;
            }

            .contacto__opinion {
                grid-area: contacto__opinion;
            }

            .btnop {
                grid-area: btnop;
            }

            .btnop__flex {
                display: flex;
                gap: 10px;

                .botoncito {
                    background-color: #f3c165;
                    color: blue;
                }
            }
        }
    }

    .mensaje-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mensaje_1 {
            color: v.$fuente-color-sec;
        }

        .mensaje_2 {
            color: v.$fuente-color-ter;
        }

        .mensaje_3 {
            color: v.$fuente-color-cua;
        }
    }

    .donde {
        @include v.flx-bx(column, 5px, 5px, center);
        align-items: center;
    }

    //@media screen and (max-width: 480px) {

    @include v.celu {
        .contacto-contenedor {

            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "info"
                "opinion";

            .contacto-info {
                grid-area: info;
                justify-items: end;
                justify-content: end;
            }

            .contacto-opinion {
                grid-area: opinion;

            }
        }

        .mensaje-contacto {
            .mensaje_1 {
                font-size: 1.2rem;
                margin-left: 4px;
                text-align: center;

            }

            .mensaje_2 {
                font-size: 1.2rem;
                margin-left: 4px;
                text-align: center;
            }

            .mensaje_3 {
                font-size: 1rem;
                margin-left: 4px;
                text-align: center;
            }
        }

        

    }

    @include v.tab {
        .mensaje-contacto {
            .mensaje_3 {
                text-align: center;
            }
        }
    }
}