@use "variables" as v;

main {

    .features-contenedor {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        place-items: center;
        row-gap: 10px;
        padding: 40px;
        background-color: v.$background-color-pri;
        text-align: justify;

        .caja.matriz {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .matriz-imagen {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 90%;
        }

        .caja.filtro {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .filtro-imagen {
            grid-column: 1/2;
            grid-row: 2/3;
            width: 90%;
        }

        .caja.envolvente {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .envolvente-imagen {
            grid-column: 2/3;
            grid-row: 3/4;
            width: 90%;
        }

        .caja.osciladores {
            grid-column: 2/3;
            grid-row: 4/5;
        }

        .osciladores-imagen {
            grid-column: 1/2;
            grid-row: 4/5;
            width: 90%;
        }
    }



    @include v.celu {

        .features-contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, auto);
            place-items: center;
            row-gap: 5px;
            padding: 20px;

            h4 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            font-size: 1rem;

            .matriz-imagen {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 90%;
            }

            .caja.matriz {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .filtro-imagen {
                grid-column: 1/2;
                grid-row: 3/4;
                width: 90%;
            }

            .caja.filtro {
                grid-column: 1/2;
                grid-row: 4/5;
            }

            .envolvente-imagen {
                grid-column: 1/2;
                grid-row: 5/6;
                width: 90%;
            }

            .caja.envolvente {
                grid-column: 1/2;
                grid-row: 6/7;
            }

            .osciladores-imagen {
                grid-column: 1/2;
                grid-row: 7/8;
                width: 90%;
            }

            .caja.osciladores {
                grid-column: 1/2;
                grid-row: 8/9;
            }
        }
    }





    @include v.tab {

        .features-contenedor {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(8, auto);
            place-items: center;
            //row-gap: 5px;
            //padding: 20px;
            column-gap: 30px;
            align-items: start;
            

            h4 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            font-size: 1rem;

            .matriz-imagen {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 90%;
            }

            .caja.matriz {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .filtro-imagen {
                grid-column: 2/3;
                grid-row: 1/2;
                width: 90%;
            }

            .caja.filtro {
                grid-column: 2/3;
                grid-row: 2/3;
            }

            .envolvente-imagen {
                grid-column: 1/2;
                grid-row: 3/4;
                width: 90%;
            }

            .caja.envolvente {
                grid-column: 1/2;
                grid-row: 4/5;
            }

            .osciladores-imagen {
                grid-column: 2/3;
                grid-row: 3/4;
                width: 100%;
            }

            .caja.osciladores {
                grid-column: 2/3;
                grid-row: 4/5;
            }
        }




    }



}