@use "variables" as v;

main {

    .titulo-seccion {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 90px 0 0 0;
        background-color: v.$background-color-pri;
        
        > h1 {font-size: 40px;}

        :hover {
            background-color: v.$fuente-color-ter;
        }

    }

    .features-contenedor {
        width: 100;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        place-items: center;
        row-gap: 10px;
        padding: 20px;
        background-color: v.$background-color-pri;

        .caja.matriz {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .matriz-imagen {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 90%;
        }

        .caja.filtro {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .filtro-imagen {
            grid-column: 1/2;
            grid-row: 2/3;
            width: 90%;
        }

        .caja.envolvente {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .envolvente-imagen {
            grid-column: 2/3;
            grid-row: 3/4;
            width: 90%;
        }

        .caja.osciladores {
            grid-column: 2/3;
            grid-row: 4/5;
        }

        .osciladores-imagen {
            grid-column: 1/2;
            grid-row: 4/5;
            width: 90%;
        }
    }


    @media screen and (max-width: 480px) {

        .titulo-seccion > h1{
            font-size: 20px;
        }

        .features-contenedor {
            width: 100;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            place-items: center;
            row-gap: 5px;
            padding: 10px;

            font-size: 80%;

            .matriz-imagen {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 90%;
            }

            .caja.matriz {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .filtro-imagen {
                grid-column: 1/2;
                grid-row: 3/4;
                width: 90%;
            }

            .caja.filtro {
                grid-column: 1/2;
                grid-row: 4/5;
            }

            .envolvente-imagen {
                grid-column: 1/2;
                grid-row: 5/6;
                width: 90%;
            }

            .caja.envolvente {
                grid-column: 1/2;
                grid-row: 6/7;
            }

            .osciladores-imagen {
                grid-column: 1/2;
                grid-row: 7/8;
                width: 90%;
            }

            .caja.osciladores {
                grid-column: 1/2;
                grid-row: 8/9;
            }






        }


    }
}