@use "variables" as v;

.pie-de-pagina {
    display: flex;
    // background-color: v.$background-color-sec;

    background: #FFA500;
    background: linear-gradient(0deg, rgba(255, 165, 0, 1) 0%, rgba(255, 165, 0, 1) 91%, rgba(236, 236, 236, 1) 99%);

    align-items: center;
    justify-content: space-around;
    padding: 10px 0 0 5px;

    h2 {
        color: v.$fuente-color-sec;
        font-size: 1.2rem;
    }

    h3 {
        color: v.$fuente-color-ter;
        font-size: 1.2rem;
    }

    h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {

    .pie-de-pagina {
        font-size: 5%;
        padding: 5px 1px 1px 1px;

        h4 {
            font-size: 10px;
        }
    }
}