@use "variables" as v;

header {
    // BOOTSTRAP

    .header__logo {
        width: 140px;
    }
}

@media screen and (max-width: 480px) {

header {
    // BOOTSTRAP

    .header__logo {
        width: 100px;
    }
}


}