@use "variables" as v;

header {
    // BOOTSTRAP

    .header__logo {
        width: 140px;
    }



    @include v.celu {

        // BOOTSTRAP
        .header__logo {
            width: 100px;
        }
    }


@include v.tab {

    .header__logo {
        width: 150px;
    }
}
}

// @media screen and (max-width: 480px) {
//     .header__logo {
//         width: 100px;
//     }
// }