@use "variables" as v;

.main-principal {
    background-color: v.$background-color-pri;

    .imagen-minifreak {
        display: flex;
        justify-content: center;
        padding: 60px 0 0 0;

        .main-imagen {
            width: 50%;
        }
    }

    .main-section {
        width: 80%;
        padding: 5px;
        margin-left: 30px;

        ul li {
            margin-left: 30px;
            list-style-type:disc;

        }
    }

    .intro-items {
        padding: 10px;
    }

}

.suscripcion {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}