@use "variables" as v;

.main-principal {
    background-color: v.$background-color-pri;



    .imagen-minifreak {
        @include v.flx-bx(row, 5px 0 0 0, 0px, center);

        //display: flex;
        //justify-content: center;
        //padding: 5px 0 0 0;

        .main-imagen {
            width: 50%;
        }

        :hover {
            animation: agrandar 1.5s;
        }
    }

    @keyframes agrandar {

        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .main-section {
        width: 95%;
        padding: 5px;
        margin-left: 25px;

        h3 {
            font-size: 2rem;
        }

        ul li {
            margin-left: 20px;
            list-style-type: disc;
        }
    }

    .intro-items {
        padding: 10px;

        >p {
            display: flex;
            text-align: justify;
        }

    }
}

.suscripcion {
    position: fixed;
    bottom: 5px;
    right: 10px;
    width: 50px;


    animation: balanceo 2s infinite ease;




}

@media screen and (max-width: 480px) {

    .main-principal {
        .imagen-minifreak {
            .main-imagen {
                width: 95%;
            }
        }

        .main-section {

            margin-left: 5px;
            width: 95%;




            h3 {
                font-size: 1.1rem;
                font-weight: bold;
            }

            ul li {
                margin-left: 3px;
                list-style-type: disc;
            }
        }
    }

    .suscripcion {
        width: 10%;
    }
}

// Animacion a suscripcion
@keyframes balanceo {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}