@use "variables" as v;

main {

    .nuevos-sintes {
        display: flex;
        padding: 30px;
        gap: 10px;

        .sinte-item {
            background-color: #ececec;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;

            .sinte__imagen {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px){

main{

.nuevos-sintes{
    flex-direction: column;

    
    
}

}




}