@use "variables" as v;

main {

    .nuevos-sintes {

        @include v.flx-bx(row, 30px, 10px, flex-start);

        .sinte-item {

            @include v.flx-bx(column, 10px, 10px, flex-start);
            background-color: v.$background-color-pri;
            border-radius: 10px;
            overflow: hidden;

            .sinte__imagen {
                max-width: 100%;
            }

            .sinte__nombre {

                color: v.$fuente-color-pri;
                text-shadow: 0 0 5px v.$fuente-color-cua;
            }

            p {
                text-align: justify;
            }
        }
    }


    @include v.celu {


        .nuevos-sintes {
            @include v.flx-bx(column, 10px, 5px, flex-start);
        }
    }

    @include v.tab {

        .nuevos-sintes {
            @include v.flx-bx(row, 10px, 5px, flex-start);
        }
    }
}