@use "variables" as v;

main {

    .nuevos-sintes {
        display: flex;
        padding: 30px;
        gap: 10px;

        .sinte-item {
            background-color: v.$background-color-pri;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;

            .sinte__imagen {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    main {
        .nuevos-sintes {
            flex-direction: column;
            padding: 10px;
            gap: 5px;
        }
    }
}