@use "variables" as v;

main {
    .titulo-seccion {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 85px;
        background: #ECECEC;
        background: linear-gradient(0deg, rgba(236, 236, 236, 1) 1%, rgba(255, 165, 0, 1) 50%, rgba(255, 165, 0, 1) 54%, rgba(248, 249, 250, 1) 99%);

        >h1 {
            font-size: 3rem;
        }

        :hover {
            animation: balanceo 2s infinite;
        }
    }
}

@keyframes balanceo {

    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

main {
    @include v.celu {
        .titulo-seccion {
            margin-top: 70px;

            >h1 {
                font-size: 1.2rem;
                font-weight: bolder;
            }
        }
    }

    @include v.tab {
        .titulo-seccion {
            >h1 {
                font-size: 2rem;
                font-weight: bolder;
            }
        }
    }
}