/* Tipografias: Sensation, Pompire y Agdasima */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Pompiere&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$fuente-pri: Sansation;
$background-color-pri: #ececec;
$background-color-sec: #FFA500;
$background-color-ter: #Cc5500;
$fuente-color-pri: black;
$fuente-color-sec: #8B4500;
$fuente-color-ter: #Cc5500;
$fuente-color-cua: #FFA500;
$borde-color-pri: #f5f5f5;

* {
    font-family: $fuente-pri;
    color: $fuente-color-pri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@mixin flx-bx($direction, $padd, $gap, $just-cont) {
    display: flex;
    flex-direction: $direction;
    padding: $padd;
    gap: $gap;
    justify-content: $just-cont;
}