/* Tipografias: Sensation, Pompire y Agdasima */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Pompiere&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$fuente: Sansation;
$background: #ececec;
$fuente-primaria-color: black;
$fuente-secundaria-color: 
