/* Tipografias: Sensation, Pompire y Agdasima */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Pompiere&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$fuente-pri: Sansation;
$background-color-pri: #ececec;
$background-color-sec: #FFA500;
$background-color-ter: #Cc5500;

$background-color-cua: #ff8000;
$background-color-qui: #e07000;
$background-color-sep: #c96400;
$background-color-set: #ad5701;
$background-color-oct: #8B4500;
$background-color-nov: #ffa60063;


$fuente-color-pri: black;
$fuente-color-sec: #8B4500;
$fuente-color-ter: #Cc5500;
$fuente-color-cua: #FFA500;
$borde-color-pri: #f5f5f5;



* {
    font-family: $fuente-pri;
    color: $fuente-color-pri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@mixin flx-bx($direction, $padd, $gap, $just-cont) {
    display: flex;
    flex-direction: $direction;
    padding: $padd;
    gap: $gap;
    justify-content: $just-cont;
}

%artist-card {
    //background-color: $background-color-ter;
    border-radius: 8px;
    overflow: hidden;
    display: flex;

    .artista-info {
        @include flx-bx(column, 10px, 5px, center);

        .artista__texto {
            text-align: justify;
            
        }
    }

    .artista__videito {
        width: 400px;
        height: 300px;
    }
}

@mixin celu {
    @media (min-width: 320px) and (max-width: 430px) {
        @content;
    }
}

@mixin tab{
    @media(min-width: 431px) and (max-width: 968px){
        @content
    }
}