/* Tipografias: Sensation, Pompire y Agdasima */
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Pompiere&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  font-family: Sansation;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .artistas .maxime, main .artistas .victor, main .artistas .yuli, main .artistas .redmeans, main .artistas .xliks {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
main .artistas .maxime .artista-info, main .artistas .victor .artista-info, main .artistas .yuli .artista-info, main .artistas .redmeans .artista-info, main .artistas .xliks .artista-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  justify-content: center;
}
main .artistas .maxime .artista-info .artista__texto, main .artistas .victor .artista-info .artista__texto, main .artistas .yuli .artista-info .artista__texto, main .artistas .redmeans .artista-info .artista__texto, main .artistas .xliks .artista-info .artista__texto {
  text-align: justify;
}
main .artistas .maxime .artista__videito, main .artistas .victor .artista__videito, main .artistas .yuli .artista__videito, main .artistas .redmeans .artista__videito, main .artistas .xliks .artista__videito {
  width: 400px;
  height: 300px;
}

main .titulo-seccion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
  background: #ECECEC;
  background: linear-gradient(0deg, rgb(236, 236, 236) 1%, rgb(255, 165, 0) 50%, rgb(255, 165, 0) 54%, rgb(248, 249, 250) 99%);
}
main .titulo-seccion > h1 {
  font-size: 3rem;
}
main .titulo-seccion :hover {
  animation: balanceo 2s infinite;
}

@keyframes balanceo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 480px) {
  main .titulo-seccion {
    margin-top: 70px;
  }
  main .titulo-seccion > h1 {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
main .artistas {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 60px 60px;
  gap: 10px;
  justify-content: center;
  background-color: #ececec;
}
main .artistas .maxime {
  background-color: #ad5701;
}
main .artistas .victor {
  background-color: #Cc5500;
}
main .artistas .yuli {
  background-color: #c96400;
}
main .artistas .redmeans {
  background-color: #e07000;
}
main .artistas .xliks {
  background-color: #ff8000;
}

@media screen and (max-width: 480px) {
  main .artistas {
    padding: 5px 30px 60px 30px;
  }
  main .artistas .artiatas__item {
    flex-direction: column;
  }
}
main {
  background-color: #ececec;
}
main .contacto-contenedor {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  place-items: center;
  border-radius: 10px;
  overflow: hidden;
}
main .contacto-contenedor .contacto-info {
  width: 100;
  height: 400px;
  display: grid;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  place-items: center;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "nom nom" "mai mai" "cel cel" "tex tex" "btna btnb";
}
main .contacto-contenedor .contacto-info .nom {
  grid-area: nom;
}
main .contacto-contenedor .contacto-info .mai {
  grid-area: mai;
}
main .contacto-contenedor .contacto-info .cel {
  grid-area: cel;
}
main .contacto-contenedor .contacto-info .tex {
  grid-area: tex;
}
main .contacto-contenedor .contacto-opinion {
  width: 100;
  height: 400px;
  display: grid;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "contacto__opinion__texto" "contacto__opinion" "btnop";
}
main .contacto-contenedor .contacto-opinion .contacto__opinion__texto {
  grid-area: contacto__opinion__texto;
}
main .contacto-contenedor .contacto-opinion .contacto__opinion {
  grid-area: contacto__opinion;
}
main .contacto-contenedor .contacto-opinion .btnop {
  grid-area: btnop;
}
main .contacto-contenedor .contacto-opinion .btnop__flex {
  display: flex;
  gap: 10px;
}
main .contacto-contenedor .contacto-opinion .btnop__flex .botoncito {
  background-color: #f3c165;
  color: blue;
}
main .mensaje-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .mensaje-contacto .mensaje_1 {
  color: #8B4500;
}
main .mensaje-contacto .mensaje_2 {
  color: #Cc5500;
}
main .mensaje-contacto .mensaje_3 {
  color: #FFA500;
}
@media screen and (max-width: 480px) {
  main .contacto-contenedor {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "info" "opinion";
  }
  main .contacto-contenedor .contacto-info {
    grid-area: info;
    justify-items: end;
    justify-content: end;
  }
  main .contacto-contenedor .contacto-opinion {
    grid-area: opinion;
  }
  main .mensaje_1 {
    font-size: 1.2rem;
    margin-left: 4px;
    text-align: center;
  }
  main .mensaje_2 {
    font-size: 1.2rem;
    margin-left: 4px;
    text-align: center;
  }
  main .mensaje_3 {
    font-size: 1rem;
    margin-left: 4px;
    text-align: center;
  }
}

main .features-contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  row-gap: 10px;
  padding: 40px;
  background-color: #ececec;
  text-align: justify;
}
main .features-contenedor .caja.matriz {
  grid-column: 1/2;
  grid-row: 1/2;
}
main .features-contenedor .matriz-imagen {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 90%;
}
main .features-contenedor .caja.filtro {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .features-contenedor .filtro-imagen {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 90%;
}
main .features-contenedor .caja.envolvente {
  grid-column: 1/2;
  grid-row: 3/4;
}
main .features-contenedor .envolvente-imagen {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 90%;
}
main .features-contenedor .caja.osciladores {
  grid-column: 2/3;
  grid-row: 4/5;
}
main .features-contenedor .osciladores-imagen {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 90%;
}
@media screen and (max-width: 480px) {
  main .features-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    place-items: center;
    row-gap: 5px;
    padding: 20px;
  }
  main .features-contenedor h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  main .features-contenedor {
    font-size: 1rem;
  }
  main .features-contenedor .matriz-imagen {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }
  main .features-contenedor .caja.matriz {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .features-contenedor .filtro-imagen {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 90%;
  }
  main .features-contenedor .caja.filtro {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  main .features-contenedor .envolvente-imagen {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 90%;
  }
  main .features-contenedor .caja.envolvente {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  main .features-contenedor .osciladores-imagen {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 90%;
  }
  main .features-contenedor .caja.osciladores {
    grid-column: 1/2;
    grid-row: 8/9;
  }
}

.pie-de-pagina {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 5px;
  gap: 0px;
  justify-content: space-around;
  align-items: center;
  background: #FFA500;
  background: linear-gradient(0deg, rgb(255, 165, 0) 0%, rgb(255, 165, 0) 91%, rgb(236, 236, 236) 99%);
}
.pie-de-pagina .redes {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  align-content: space-between;
}
.pie-de-pagina .redes img {
  width: 3vw;
}
.pie-de-pagina a {
  text-decoration: none;
}
.pie-de-pagina h2 {
  color: #8B4500;
  font-size: 1.2rem;
}
.pie-de-pagina h3 {
  color: #Cc5500;
  font-size: 1.2rem;
}
.pie-de-pagina h4 {
  font-size: 16px;
  color: #8B4500;
}
@media (min-width: 320px) and (max-width: 430px) {
  .pie-de-pagina {
    font-size: 5%;
    padding: 5px 1px 1px 1px;
  }
  .pie-de-pagina h2 {
    font-size: 0.7rem;
  }
  .pie-de-pagina h3 {
    font-size: 0.5rem;
  }
  .pie-de-pagina h4 {
    font-size: 12px;
  }
  .pie-de-pagina .redes img {
    width: 6vw;
  }
}
@media (min-width: 431px) and (max-width: 968px) {
  .pie-de-pagina .redes img {
    width: 5vw;
  }
  .pie-de-pagina h3 {
    font-size: 15px;
  }
}

header .header__logo {
  width: 140px;
}
@media (min-width: 320px) and (max-width: 430px) {
  header .header__logo {
    width: 100px;
  }
}
@media (min-width: 431px) and (max-width: 968px) {
  header .header__logo {
    width: 150px;
  }
}

main .nuevos-sintes {
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 10px;
  justify-content: flex-start;
}
main .nuevos-sintes .sinte-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  justify-content: flex-start;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
}
main .nuevos-sintes .sinte-item .sinte__imagen {
  max-width: 100%;
}
main .nuevos-sintes .sinte-item p {
  text-align: justify;
}

@media screen and (max-width: 480px) {
  main .nuevos-sintes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    justify-content: flex-start;
  }
}
.main-principal {
  background-color: #ececec;
}
.main-principal .imagen-minifreak {
  display: flex;
  flex-direction: row;
  padding: 5px 0 0 0;
  gap: 0px;
  justify-content: center;
}
.main-principal .imagen-minifreak .main-imagen {
  width: 50%;
}
.main-principal .imagen-minifreak :hover {
  animation: agrandar 1.5s;
}
@keyframes agrandar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.main-principal .main-section {
  width: 95%;
  padding: 5px;
  margin-left: 25px;
}
.main-principal .main-section h3 {
  font-size: 2rem;
}
.main-principal .main-section ul li {
  margin-left: 20px;
  list-style-type: disc;
}
.main-principal .intro-items {
  padding: 10px;
}
.main-principal .intro-items > p {
  display: flex;
  text-align: justify;
}

.suscripcion {
  position: fixed;
  bottom: 15px;
  right: 10px;
  width: 50px;
  animation: balanceo 2s infinite ease;
}

@media screen and (max-width: 480px) {
  .main-principal .imagen-minifreak .main-imagen {
    width: 95%;
  }
  .main-principal .main-section {
    margin-left: 5px;
    width: 95%;
  }
  .main-principal .main-section h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .main-principal .main-section ul li {
    margin-left: 3px;
    list-style-type: disc;
  }
  .suscripcion {
    width: 10%;
    bottom: 50px;
  }
}
@media (min-width: 431px) and (max-width: 968px) {
  .suscripcion {
    width: 6%;
    bottom: 70px;
  }
}
@keyframes balanceo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
