/* Tipografias: Sensation, Pompire y Agdasima */
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Pompiere&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  font-family: Sansation;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-seleccion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 90px 0 0 0;
  background-color: #ececec;
  font-size: 60%;
}

main .titulo-seccion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  background-color: #ececec;
}
main .titulo-seccion > h1 {
  font-size: 3rem;
}
main .titulo-seccion :hover {
  background-color: #FFE5B4;
}

@media screen and (max-width: 480px) {
  main .titulo-seccion {
    margin-top: 70px;
  }
  main .titulo-seccion > h1 {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
main .artistas {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 60px 60px;
  gap: 10px;
  background-color: #ececec;
}
main .artistas .artiatas__item {
  background-color: #Cc5500;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
main .artistas .artiatas__item .artista-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  justify-content: center;
}
main .artistas .artiatas__item .artista__videito {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 480px) {
  main .artistas {
    flex-direction: column;
    padding: 5px 30px 60px 30px;
  }
  main .artistas .artiatas__item {
    flex-direction: column;
  }
}
main {
  background-color: #ececec;
}
main .contacto-contenedor {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  place-items: center;
  border-radius: 10px;
  overflow: hidden;
}
main .contacto-contenedor .contacto-info {
  width: 100;
  height: 400px;
  display: grid;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  place-items: center;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "nom nom" "mai mai" "cel cel" "tex tex" "btna btnb";
}
main .contacto-contenedor .contacto-info .nom {
  grid-area: nom;
}
main .contacto-contenedor .contacto-info .mai {
  grid-area: mai;
}
main .contacto-contenedor .contacto-info .cel {
  grid-area: cel;
}
main .contacto-contenedor .contacto-info .tex {
  grid-area: tex;
}
main .contacto-contenedor .contacto-opinion {
  width: 100;
  height: 400px;
  display: grid;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "contacto__opinion__texto" "contacto__opinion" "btnop";
}
main .contacto-contenedor .contacto-opinion .contacto__opinion__texto {
  grid-area: contacto__opinion__texto;
}
main .contacto-contenedor .contacto-opinion .contacto__opinion {
  grid-area: contacto__opinion;
}
main .contacto-contenedor .contacto-opinion .btnop {
  grid-area: btnop;
}
main .contacto-contenedor .contacto-opinion .btnop__flex {
  display: flex;
  gap: 10px;
}
main .mensaje-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .mensaje-contacto .mensaje_1 {
  color: #8B4500;
}
main .mensaje-contacto .mensaje_2 {
  color: #Cc5500;
}
main .mensaje-contacto .mensaje_3 {
  color: #FFA500;
}
@media screen and (max-width: 480px) {
  main .contacto-contenedor {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "info" "opinion";
  }
  main .contacto-contenedor .contacto-info {
    grid-area: info;
    justify-items: end;
    justify-content: end;
  }
  main .contacto-contenedor .contacto-opinion {
    grid-area: opinion;
  }
  main .mensaje_1 {
    font-size: 1.2rem;
  }
  main .mensaje_2 {
    font-size: 1.2rem;
  }
  main .mensaje_3 {
    font-size: 1rem;
    margin-left: 8px;
  }
}

main .features-contenedor {
  width: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  row-gap: 10px;
  padding: 20px;
  background-color: #ececec;
}
main .features-contenedor .caja.matriz {
  grid-column: 1/2;
  grid-row: 1/2;
}
main .features-contenedor .matriz-imagen {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 90%;
}
main .features-contenedor .caja.filtro {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .features-contenedor .filtro-imagen {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 90%;
}
main .features-contenedor .caja.envolvente {
  grid-column: 1/2;
  grid-row: 3/4;
}
main .features-contenedor .envolvente-imagen {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 90%;
}
main .features-contenedor .caja.osciladores {
  grid-column: 2/3;
  grid-row: 4/5;
}
main .features-contenedor .osciladores-imagen {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 90%;
}
@media screen and (max-width: 480px) {
  main .features-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    place-items: center;
    row-gap: 5px;
    padding: 10px;
  }
  main .features-contenedor h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  main .features-contenedor {
    font-size: 1rem;
  }
  main .features-contenedor .matriz-imagen {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }
  main .features-contenedor .caja.matriz {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .features-contenedor .filtro-imagen {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 90%;
  }
  main .features-contenedor .caja.filtro {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  main .features-contenedor .envolvente-imagen {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 90%;
  }
  main .features-contenedor .caja.envolvente {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  main .features-contenedor .osciladores-imagen {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 90%;
  }
  main .features-contenedor .caja.osciladores {
    grid-column: 1/2;
    grid-row: 8/9;
  }
}

.pie-de-pagina {
  display: flex;
  background-color: #FFA500;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
}
.pie-de-pagina h4 {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .pie-de-pagina {
    display: flex;
    font-size: 5%;
    background-color: #FFA500;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
  }
  .pie-de-pagina h4 {
    font-size: 10px;
  }
}
header .header__logo {
  width: 140px;
}

@media screen and (max-width: 480px) {
  header .header__logo {
    width: 100px;
  }
}
main .nuevos-sintes {
  display: flex;
  padding: 30px;
  gap: 10px;
}
main .nuevos-sintes .sinte-item {
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
main .nuevos-sintes .sinte-item .sinte__imagen {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  main .nuevos-sintes {
    flex-direction: column;
    padding: 10px;
    gap: 5px;
  }
}
.main-principal {
  background-color: #ececec;
}
.main-principal .imagen-minifreak {
  display: flex;
  justify-content: center;
  padding: 5px 0 0 0;
}
.main-principal .imagen-minifreak .main-imagen {
  width: 50%;
}
.main-principal .main-section {
  width: 80%;
  padding: 5px;
  margin-left: 30px;
}
.main-principal .main-section h3 {
  font-size: 2rem;
}
.main-principal .main-section ul li {
  margin-left: 20px;
  list-style-type: disc;
}
.main-principal .intro-items {
  padding: 10px;
}

.suscripcion {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
}

@media screen and (max-width: 480px) {
  .main-principal .imagen-minifreak .main-imagen {
    width: 70%;
  }
  .main-principal .main-section h1 {
    font-size: 2rem;
  }
  .main-principal .main-section h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .main-principal .main-section ul li {
    margin-left: 3px;
    list-style-type: disc;
  }
  .suscripcion {
    width: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
